.content {
    margin-top: 70px;
    height: 100vh;
}

.w3-bar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: #282a35;
    color: #dfeaeb;
    height: 50px;
}

.w3-sidebar {
    width: 20%;
    display: flex;
    flex-direction: column;
    color: #0a0a0a;
    height: 100vh;
    top: 0;
    left: 0;
    overflow-y: scroll;
    background-color: #e7e9eb;
}

.w3-button {
    padding: 15px 20px;
    font-size: 20px;
}

.w3-sidebar {
    height: 100%;
}

@media (max-width: 1000px) {
    .content {
        margin-top: 70px;
        height: 100vh;
        }

    .open {
        display: flex;
        justify-content: flex-start;
    }

    .w3-sidebar {
        padding: 2px;
        width: 20%;
    }
}

#sidebar {
    font-size: 30px;
}