.content {
  margin-top: 70px;
  height: 100vh;
  text-align: center;
}
.w3-bar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background-color: #282a35;
  color: #dfeaeb;
  height: 50px;
}

.content {
  margin-top: 70px;
  height: 100vh;
  text-align: center;
}
.w3-sidebar {
  width: 20%;
  display: flex;
  flex-direction: column;
  color: #0a0a0a;
  height: 100vh;
  top: 0;
  overflow-y: scroll;
  background-color: #e7e9eb;
}
a :hover {
  background-color: #04aa6d;
  color: #e7e9eb;
}
.w3-button {
  padding: 15px 20px;
  font-size: 20px;
}
.w3-button :hover {
  background-color: #04aa6d;
  color: #099;
}
.w3-sidebar {
  height: 100%;
}

@media (max-width: 1000px) {
    .content{
        margin-top: 70px;
        height: 100vh;
        text-align: center;
    }
    .open{
        display: flex;
        justify-content: flex-start;
    }

  .w3-sidebar {
    padding: 2px;
        width: 20%;
  }
}
#sidebar {
  font-size: 30px;
}